[submodule "3rdparty/rttr"]
	path = 3rdparty/rttr
	url = https://github.com/RobSimulatorGroup/rttr.git
[submodule "3rdparty/imgui"]
	path = 3rdparty/imgui
	url = https://github.com/RobSimulatorGroup/imgui.git
[submodule "3rdparty/meshoptimizer"]
	path = 3rdparty/meshoptimizer
	url = https://github.com/RobSimulatorGroup/meshoptimizer.git
[submodule "3rdparty/gli"]
	path = 3rdparty/gli
	url = https://github.com/g-truc/gli
[submodule "3rdparty/stb"]
	path = 3rdparty/stb
	url = git@github.com:RobSimulatorGroup/stb.git
[submodule "3rdparty/basis_univesal"]
	path = 3rdparty/basis_univesal
	url = git@github.com:RobSimulatorGroup/basis_universal.git
